@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Avenir';
    src: url('/AvenirLight.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('/AvenirRegular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('/AvenirHeavy.ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('/AvenirBlack.ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


html, body {
    font-family: Avenir, Inter, Nunito Sans, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    /*overflow: hidden;*/
}

td, th {
    padding: 0.75rem;
    border: 1px solid #ccc;
}