@keyframes float {
    0% {
        transform: translate(0)
    }

    30% {
        transform: translateY(-10px)
    }

    50% {
        transform: translateY(4px)
    }

    70% {
        transform: translateY(-15px)
    }

    to {
        transform: translate(0)
    }
}

.float-10 {
    transition: all .25s ease;
    animation: float 10s ease infinite reverse
}

.float-7 {
    transition: all .25s ease;
    animation: float 7s ease infinite reverse
}