@keyframes float {
    0% {
        transform: translate(0)
    }

    30% {
        transform: translateY(-3px)
    }

    50% {
        transform: translateY(2px)
    }

    70% {
        transform: translateY(-5px)
    }

    to {
        transform: translate(0)
    }
}

.float {
    transition: all .25s ease;
    animation: float 10s ease infinite reverse
}

.float:nth-of-type(2) {
    animation-delay: 3s;
}

.float:nth-of-type(3) {
    animation-delay: 500ms;
}

.float:nth-of-type(4) {
    animation-delay: 2s;
}

.float:nth-of-type(5) {
    animation-delay: 1s;
}

.float:nth-of-type(6) {
    animation-delay: 700ms;
}


.ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: transparent;
    /*z-index: -1;*/
}

.wave {
    background: url(/wave2.svg) repeat-x;
    position: absolute;
    bottom: 0;
    width: 6400px;
    height: 198px;
    animation: wave 35s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite, swelldown 7s ease -1.25s infinite;
    animation-delay: 1s;
}

.wave:nth-of-type(2) {
    background: url(/wave3.svg) repeat-x;
    animation: wave 25s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swelldown 7s ease -1.25s infinite;
    animation-delay: 3s;
}

.wave:nth-of-type(3) {
    background: url(/wave4.svg) repeat-x;
    animation: wave 38s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swelldown 7s ease -1.25s infinite;
    animation-delay: 2s;
}

.wave:nth-of-type(4) {
    background: url(/wave5.svg) repeat-x;
    animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swelldown 7s ease -1.25s infinite;
    animation-delay: 0s;
}

.wave:nth-of-type(5) {
    background: url(/wave6.svg) repeat-x;
    animation: wave 15s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swelldown 7s ease -1.25s infinite;
    animation-delay: 5s;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {
    0%, 100% {
        transform: translate3d(0, -25px, 0);
    }
    50% {
        transform: translate3d(0, 5px, 0);
    }
}

@keyframes swelldown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(25px);
    }
}