.lake-card {
    padding: 0.5rem;
    border-radius: 0.5rem;
    /*border: 1px solid #e0e0e0;*/
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    background: white;
}

.lake-card.hover-effect:hover {
    transform: translateY(-0.125rem);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}