.lake-tabs-wrap {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.lake-tabs-bg {
    display: flex;
    align-items: stretch;
    padding-left: 0.375rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    border-radius: 0.375rem;
    background: #f1f5f9;
}

.lake-tab {
    z-index: 0;
    cursor: pointer;
    border-radius: 0.375rem;
    min-width: 100px;
    margin-right: 0.25rem;
    position: relative;
    overflow: hidden;
}

.lake-tab:hover {
    background: #e5e7eb;
}

.lake-tab.active {
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.lake-tab-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -11;
    width: 100%;
    height: 100%;
    border-radius: 0.375rem;
    background: white;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    /*box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);*/
    transition: transform 0.3s ease;
}

.lake-tab-bg.translate-right {
    transform: translateX(100%);
    filter: none;
}


.lake-tab-bg.translate-left {
    transform: translateX(-100%);
        filter: none;
}


.lake-tab-bg.active {

}

.lake-tab-content {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background: transparent;
    z-index: 2;
}

.lake-tabs-children {
    position: relative;
    min-height: 50px;
}