.lake-toast {
    position: fixed;
    top: 0.75rem;
    right: 0.75rem;

    padding: 0 0.25rem 0 0.25rem;
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0.25rem;
    transition: all 0.3s;
    background: black;
    color: white;
    transform: scale(0.5);
    z-index: 40;
}

.lake-toast.show {
    opacity: 1;
}

.lake-toast.hide {
    opacity: 0;
}

.lake-toast.left {
    left: 0.75rem;
    right: unset;
}

.lake-toast.bottom {
    bottom: 0.75rem;
    top: unset;
}

.lake-toast.open {
    transform: scale(1);
}

.lake-toast-content {
    padding: 0.25rem;
}