.lake-top-bar {
    position: sticky;
    top: 0;
    background: white;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    border-bottom: 1px solid #e5e7eb;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.8);
}